body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', serif;
}

.p1:hover {
  animation: shake 25s;
  animation-iteration-count: infinite;
}

.f1:hover {
  animation: shake 25s;
  animation-iteration-count: infinite;
}
.an:hover {
  animation: shake 25s;
  animation-iteration-count: infinite;
}

.b1:hover {
  animation: shake 25s;
  animation-iteration-count: infinite;
}
.e1:hover {
  animation: shake 25s;
  animation-iteration-count: infinite;
}
.j2:hover {
  animation: shake 25s;
  animation-iteration-count: infinite;
}
.j1:hover {
  animation: shake 25s;
  animation-iteration-count: infinite;
}
.c1:hover {
  animation: shake 25s;
  animation-iteration-count: infinite;
}
.a2:hover {
  animation: shake 25s;
  animation-iteration-count: infinite;
}
.a1:hover {
  animation: shake 25s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {transform: translate(1px, 1px) rotate(0deg);}

  10% {transform: translate(-1px, -2px) rotate(-1deg);  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.fop {
  font-family: Papyrus, fantasy;
  font-size: 55px;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 30.4px;
  position: relative;
left: -75px; top: 70px;
}

.fop1 {
  font-family: Papyrus, fantasy;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 27.4px;
  position: relative;
  top: 90px;
  right: 80px;
}

h1 {
  display: inline;
  position: relative;
  right: 180px;
}

.top {
  margin: 0;
  position: relative;
  background-color: #a6e3e9;
  height: 750px;
  padding-top: 150px;
}

.middle {
  height: 800px;
  background-color: #71c9ce;
}

.bottom {
  height: 100px;
  background-color: #40514e;
}

.tp1 {
  position: relative;
  left: 100px;
  top: 150px
}

.tp2 {
  position: absolute;
  left: 110px;
  top: 120px
}

.ini {transition: none;
  position: relative;
  left: 180px;
bottom: 20px;;
  max-width: 550px;
  max-height: 700px;
}

.y {
  position: relative;
  right: 150px;
bottom: 40px;;
  max-width: 550px;
  max-height: 700px;
}

.a1 {
  max-width: 100px;
  max-height: 100px;
  position: absolute;
  left: 310px;
  top: 110px
}

.p1 {
  max-width: 120px;
  max-height: 150px;
  position: absolute;
  right: 600px;
  top: 100px
}

.j2 {
  max-width: 100px;
  max-height: 100px;
  position: relative;
  left: -10px;
  top: -90px;
}

.a2 {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  left: 1210px;
  top: 110px
}

.j1 {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  left: 1400px;
  top: 50px
}

.b1 {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  right: 1400px;
  top: 50px
}

.c1 {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  right: 1250px;
  top: 10px
}
.e1 {
  position: absolute;
  max-width: 200px;
  max-height: 200px;
  right: 1250px;
  top: 190px;
}

.an {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  right: 150px;
  top: 10px
}

.f1 {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  left: 1010px;
  top: 70px
}
